.info-item {
    margin-right: 12px;
}

.info-item-icon {
    margin-right: 6px;
}

.title {
    margin-left: 5%;
    color: #2A85F9;
    margin-top: 2%;
}

/* 鼠标悬停颜色变蓝 */
.article-link:hover .article-title {
    color: #1890ff;
    /* Ant Design 蓝色 */
}